html{
  margin:0;
  padding:0;
  height:100%;
}
body{
  margin:0;
  padding:0;
  font-size:100%;
  line-height: 1;
  /*background: radial-gradient(80% 40%, #FCF2DD, #AD9C75);*/
  background-repeat: no-repeat;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #606c88, #3f4c6b);
  background: linear-gradient(to right, #606c88, #3f4c6b); 
  }

#main{
  margin:auto;
  width:75%;
  padding:10px;
  border-left-style: solid;
  height:100%;
}

table,tr{
  width:100%;
  border: 3px solid #3f4c6b;
  background-color:#606c88;
  border-radius:.5em;
  color: #ffffff;
}

td{
  margin:auto;
}

/* #BC412*/
select{
  font-size:15px;
  background-color:White ;
  padding: .5em .5em .5em .8em;
  border-radius: .2em;
  font-family: sans-serif;
  opacity: .50;
  width:35%;
}

.selection{
  width:100%;
  color:red;
}

select:active, select:hover{
  /*background-color:#D0C2A2;*/
}

h1{
  font-family: sans-serif;
  background-color: #ffffff;
  color:#3f4c6b;
  font-size:3.5em;
  font-weight: 400;
  opacity: .80;
  
}

div{
  color:white;
}

#statNames{
  font-weight:1000;
}

#actualStats{

}

.charAndClass{
  position:relative;
  width:100%;
}

h2{
  font-family: sans-serif;
  font-weight: 200;
  color:#ffffff;
  font-size:20px;
}

.title{
  
}

#characterName{
  position: relative;
  color:#ffffff;
  display:inherit;
}

#loading{
  font-family: sans-serif;
  margin: auto;
  font-size: 30px;
  padding-top:20px;
}