html{
  margin:0;
  padding:0;
  height:100%;
}
body{
  margin:0;
  padding:0;
  font-size:100%;
  line-height: 1;
  /*background: radial-gradient(80% 40%, #FCF2DD, #AD9C75);*/
  background-image: url('./glacier.jpg');
  /*background-image: url("./Bernadetta_Portrait.png");*/
  }

#tableloadingspot{
  margin-top:40px;
  margin-bottom:0px;
  height:100%;
}

#header{
  text-align: center;
  margin-bottom: 20px;
}

#main{
  margin-top:2%;
  margin-left:auto;
  margin-right:auto;
  border-radius: .6em;
  width:75%;
  padding-top:10px;
  height:100%;
  background-repeat: no-repeat;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #606c88, #3f4c6b);
  background: linear-gradient(to right, #606c88, #3f4c6b); 
  opacity: .9;
  -webkit-box-shadow: -14px 16px 29px 23px rgba(0,0,0,0.47);
  -moz-box-shadow: -14px 16px 29px 23px rgba(0,0,0,0.47);
  box-shadow: -14px 16px 29px 23px rgba(0,0,0,0.47);
  
}

table,tr{
  width:100%;
  height: 3em;
  border: 0px solid #3f4c6b;
  background-color:#606c88;
  border-radius:.6em;
  color: #ffffff;
  margin:auto;
}

td{
  margin:auto;
  height:30px;
  padding:20px;
}

/* #BC412*/
select{
  font-size:20px;
  color:black;
  background-color:#ffffff ;
  padding: .5em .5em .5em .8em;
  border-radius: .2em;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  opacity: .60;
  font-weight: 200;
  width:100%;

}

.selection{
  width:100%;
}

option{
  background-color: #606c88 !important;
  color:#ffffff;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  opacity: .4;
}

option:active{
  color:red;
}

select:active {
  /*background-color:#D0C2A2;*/
  background-color: #606c88 !important;
  background:transparent;
  color:white;
  border-bottom-left-radius: .2em;
  border-bottom-right-radius: .2em;

}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*color:rgba(252, 242, 221, 0.664);*/
  color:#ffffff;
  text-shadow: -4px 3px 6px #000000;
  font-size:3.3em;
  font-weight: 400;
  opacity: .63;
  margin-bottom: 0;    
}

div{
  color:white;
  text-shadow: -4px 3px 6px #000000;
}

#statNames{
  font-weight:200;
}

#actualStats{

}

.contain{
  background-color:#3f4c6b;
  border-bottom-left-radius: .6em;
  border-bottom-right-radius: .6em;
}

.charAndClass{
  padding-top:20px;
  position:relative;
  width:100%;
}

h2{
  padding-left:10px;
  font-family: Verdana, serif;
  font-weight: 200;
  color:#ffffff;
  font-size:20px;
  text-shadow: -4px 3px 6px #000000;
}

.title{
  
}

#characterName{
  position: relative;
  color:#ffffff;
  display:inherit;
}

#loading{
  font-family: sans-serif;
  margin: auto;
  font-size: 30px;
  padding-top:20px;
}