html{
  margin:0;
  padding:0;
  height:100%;
}
body{
  margin:0;
  padding:0;
  font-size:100%;
  line-height: 1;
  /*background: radial-gradient(80% 40%, #FCF2DD, #AD9C75);*/
  background-image: url('./glacier.jpg');
  /*background-image: url("./Bernadetta_Portrait.png");*/
  }

#tableloadingspot{
  margin-top:40px;
  margin-bottom:0px;
  height:100%;
}

#header{
  text-align: center;
}

#main{
  margin-top:2%;
  margin-left:auto;
  margin-right:auto;
  border-radius: .6em;
  width:75%;
  padding:10px;
  height:100%;
  background-repeat: no-repeat;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #606c88, #3f4c6b);
  background: linear-gradient(to right, #606c88, #3f4c6b); 
  opacity: .9;
}

table,tr{
  width:100%;
  height: 3em;
  border: 3px solid #3f4c6b;
  background-color:#606c88;
  border-radius:.6em;
  color: #ffffff;
  margin:auto;
}

td{
  margin:auto;
  height:30px;
  padding:20px;
}

/* #BC412*/
select{
  font-size:15px;
  background-color:White ;
  padding: .5em .5em .5em .8em;
  border-radius: .2em;
  font-family: sans-serif;
  opacity: .50;
  width:35%;
}

.selection{
  width:100%;
  color:red;
}

select:active, select:hover{
  /*background-color:#D0C2A2;*/
}

h1{
  font-family: sans-serif;
  background-color: #ffffff;
  color:#3f4c6b;
  font-size:3.3em;
  font-weight: 400;
  opacity: .80;
  -webkit-box-shadow: -3px -6px 148px -49px rgba(252,242,221,0.88);
  -moz-box-shadow: -3px -6px 148px -49px rgba(252,242,221,0.88);
  box-shadow: -3px -6px 148px -49px rgba(252,242,221,0.88);
    }

div{
  color:white;
}

#statNames{
  font-weight:1000;
}

#actualStats{

}

.contain{
  background-color:#3f4c6b;
  border-bottom-left-radius: .6em;
  border-bottom-right-radius: .6em;
}

.charAndClass{
  padding-top:20px;
  position:relative;
  width:100%;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  color:#ffffff;
  font-size:20px;
}

.title{
  
}

#characterName{
  position: relative;
  color:#ffffff;
  display:inherit;
}

#loading{
  font-family: sans-serif;
  margin: auto;
  font-size: 30px;
  padding-top:20px;
}